@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-image: url('./assets/PB-Background.png'); /* Cambia esto a la ruta de tu imagen */
    background-size: cover; /* Hace que la imagen cubra toda la pantalla */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-attachment: fixed; /* Hace que la imagen se quede fija al hacer scroll */
  }
            